.form-control.ng-invalid {
  border-color: #ff0500;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}
.form-control.ng-invalid:focus {
  border-color: #ff0500;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
}
.input-group-addon.ng-invalid {
  color: #ff0500;
  background-color: #f2dede;
  border-color: #ff0500;
}
.form-control-feedback.ng-invalid {
  color: #ff0500;
}