.status-icon {
  font-size: 20px;
  padding: 0;
  padding-right: 20px;
}

.red-iconstyle {
  color: #ca0a00;
}

.green-iconstyle {
  color: #1f632a;
}

.purple-iconstyle {
  color: #512d71;
}

.light-red-iconstyle {
  color: #fd4d51;
}

