<link rel="stylesheet" href="styles/wishlist.css">
<div class="page-header"><h2>Wishlist</h2></div>

<!-- sort -->
<div class="btn-group">
  <button class="btn btn-default btn-s dropdown-toggle" 
          type="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
    {{selectedOrder.label || 'Sort by'}} <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
      <li ng-repeat="opt in orderOpts" ng-click="onSortClick(opt)">
          {{opt.label}}
      <li>
  </ul>
</div>

<!-- list -->
<ul class="list-group" style="list-style:none"> 
  <li ng-repeat="wish in wishes | filter:query | orderBy: selectedOrder.val || '-score'"
      class="list-group-item"
      >
      <span ng-click="onLikeClick(wish)">
	    <span class="glyphicon glyphicon-heart status-icon red-iconstyle" 
              ng-show="wish.liked"></span>
	    <span class="glyphicon glyphicon-heart-empty status-icon red-iconstyle" 
              ng-show="!wish.liked"></span>
      </span>
      <strong ng-click="selectWish(wish)">
        {{wish.name}}
      </strong>
      <span class="badge">{{wish.score}}</span>
      <br/>
  </li>
</ol>
