<link rel="stylesheet" href="styles/details.css">
<div class='container-fluid outter-container'>

	<div class="row image-container">
		<a href='{{wish.url}}'><img src="{{wish.imageUrl}}" title="go shopping!" /></a>
	</div>
	<div class="detail-container">
		<div class="row">
			<h4><span class='wishtitle'>{{wish.requestor}}</span><span ng-show="{{wish.score > 1}}"> and <span style="color: #8380ae; font-size: 20px;"><strong>{{wish.score - 1}}</strong></span> others are </span><span ng-show="{{wish.score <= 1}}"> is </span><span>wishing for...</span></h4>
		</div>
		<div class="row">
			<h3 class='product'><a ng-href='{{wish.url}}' target="_blank">{{wish.name}}</a></h3>
		</div>
		<div class="row">
			<h4 class="pull-right">that costs <span class='wishcost'>${{wish.cost}}</span></h4>
		</div>
		<div class="row">
			<h4 ng-show="{{isCrowd && wish.cost > wish.raised}}" class="pull-right">$$$ raised: <strong style="color: #00c853;">{{wish.raised.toFixed(2)}}</strong></h4>
			<h4 ng-show="{{isCrowd && wish.cost <= wish.raised}}" class="pull-right">We've raised enough <strong style="color: #00c853">$$$</strong>!</h4>
		</div>
		<div class="row">
			<h4><span>because...</span></h4>
			<h3 class='wishreason'>{{wish.reason}}</h3>
		</div>
	</div>
	<div class="row detail-container">
		<h4>Description</h4>
		<div class='wishdiscription'>
			{{wish.description}}
		</div>
	</div>
	<div class="row detail-container" ng-show="wish.status !== 'pending'">
		<h4><span ng-show="wish.status !== 'crowd'">This wish has been <strong ng-show="wish.status === 'approved'">Approved</strong> <strong ng-show="wish.status === 'rejected'">Rejected</strong> <span ng-hide="wish.comments">.</span> </span><span ng-show="wish.status === 'crowd'">This wish is being <strong>crowd sourced</strong><span ng-hide="wish.comments">.</span></span><span ng-show="wish.comments"> with the following supervisor feedback:</span></h4>

		<div class='wishdiscription'ng-show="wish.comments">
			{{wish.comments}}
		</div>
	</div>

	<div class="button-container" ng-show="!isAdmin && !isCrowd">
		<i class="glyphicon glyphicon-arrow-left blue-iconstyle" ng-click="goBack();" title="go back"></i>
		<i class="glyphicon red-iconstyle"
		ng-class="{'glyphicon-heart': wish.liked === true, 'glyphicon-heart-empty': wish.liked === false}"
		title="like" ng-click="clickedHeart();" ng-show="wish.status == 'pending'"></i>
	</div>

	<div class="button-container" ng-show="isAdmin && !isCrowd">
		<i class="glyphicon glyphicon-arrow-left blue-iconstyle" ng-click="goBack();" title="go back"></i>
		<i class="glyphicon glyphicon-ok green-iconstyle" title="approve" ng-show="wish.status == 'pending'" ng-click="toApprove()"></i>
		<i class="glyphicon glyphicon-remove red-iconstyle" title="reject" ng-show="wish.status == 'pending'" ng-click="toReject()"></i>
		<i class="glyphicon glyphicon-user purple-iconstyle" title="crowdsource" ng-show="wish.status == 'pending'" ng-click="toCrowd()"></i>
		<div id="feedback-box" ng-show="showFeedback">
			<div class="form-group">
				<textarea class="form-control" name="feedback" rows="3" id="description" ng-model="newComments" placeholder="Enter some feedback for the requestor"></textarea>
			</div>
			<button class="btn submit capitalize" ng-click="submitFeedback()">
				{{btnText}}
			</button>
		</div>
	</div>

	<div class="button-container" ng-show="isCrowd">
		<i class="glyphicon glyphicon-arrow-left blue-iconstyle" ng-click="goBack();" title="go to wishlist"></i>
		<i class="glyphicon iconstyle glyphicon-usd green-iconstyle" title="donate!"
		ng-class="{'spent-money': $scope.donated === true}"
		ng-click="donateMoney()"> </i>
		<div id="donate-box" ng-show="showInput">
			<input type="number" name="money" ng-model="donation" />
			<button class="btn btn-sm submit" ng-click="submit()">
				Submit
			</button>
			<button class="btn btn-sm cancel" ng-click="cancel()">
				cancel
			</button>
		</div>
	</div>

</div>