<link rel="stylesheet" href="styles/details.css">
<div class='container-fluid outter-container'>

	<div class="row image-container">
		<a href='{{wish.url}}'><img src="{{wish.imageUrl}}" title="go shopping!" /></a>
	</div>
	<div class="detail-container">
		<div class="row">
			<h4><span class='wishtitle'>{{wish.requestor}}</span>
			<span ng-show="{{wish.score > 1}}" class="small"> and <span style="color: #8380ae; font-size: 20px;"><strong>{{wish.score - 1}}</strong></span> others are</span>
			<span ng-show="{{wish.score <= 1}}" class="small"> is </span> <span class="small">wishing for ...</span></h4>
		</div>
		<div class="row">
			<h3 class='product'><a href='{{wish.url}}'>{{wish.name}}</a></h3>
		</div>
		<div class="row">
			<h4 class='wishcost'><span class='small'>that costs $</span>{{wish.cost}} <span class='small'>...</span></h4>
			<span ng-show="{{isCrowd && wish.cost > wish.raised}}" class="small pull-right">$$$ raised: <strong style="color: #00c853; width: 50%;">{{wish.raised}}</strong></span>
			<span ng-show="{{isCrowd && wish.cost <= wish.raised}}" class="small pull-right">We've raised enough <strong style="color: #00c853">$$$</strong>!</span>
		</div>
		<div class="row">
			<h4><span class='small'>beacause ...</span></h4>
			<h3 class='wishreason'>{{wish.reason}}</h3>
		</div>
	</div>
	<div class="row detail-container">
		<h4>Description</h4>
		<div class='wishdiscription'>
		{{wish.description}}
		</div>
	</div>

	<div class="button-container" ng-show="!isAdmin && !isCrowd">
    	<i class="glyphicon glyphicon-arrow-left blue-iconstyle" ng-click="goBack();" title="go back"></i>
		<i class="glyphicon red-iconstyle" 
			ng-class="{'glyphicon-heart': wish.liked === true, 'glyphicon-heart-empty': wish.liked === false}" 
			title="like" ng-click="clickedHeart();"></i>
	</div>

  <div class="button-container" ng-show="isAdmin">
		<i class="glyphicon glyphicon-arrow-left blue-iconstyle" ng-click="goBack();" title="go back"></i>
    <i class="glyphicon glyphicon-ok green-iconstyle" title="approve"></i>
    <i class="glyphicon glyphicon-remove red-iconstyle" title="reject"></i>
    <i class="glyphicon glyphicon-user purple-iconstyle" title="crowdsource"></i>
    <i class="glyphicon glyphicon-comment orange-iconstyle" title="feedback"></i>
  </div>

  <div class="button-container" ng-show="isCrowd && !isAdmin">
    <i class="glyphicon glyphicon-arrow-left blue-iconstyle" ng-click="goBack();" title="go to wishlist"></i>
    <i class="glyphicon iconstyle glyphicon-usd green-iconstyle" title="donate!" 
			ng-class="{'spent-money': wish.donated}" 
			ng-click="donateMoney()">
		</i>
		<div id="donate-box" ng-show="showInput">
				<input type="number" name="money" ng-model="donation" />
				<button class="btn btn-sm submit" ng-click="submit()">Submit</button>
				<button class="btn btn-sm cancel" ng-click="cancel()">cancel</button>
			</div>
  </div>
	
</div>